* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first_screen{
    min-height: 622px;
    background: url('..//img/main_bg/main_bg.png') center center/cover no-repeat;
    padding: 0 98px;
}
.first_screen_bg{
    display: flex;
    align-items: center;
    padding-top: 30px;
}
.first_sceen_logo{
     /* display: inline-block; */
     padding-top: 39px; 
}
.first_screen_reg{
    margin-left: 631px;  
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
.first_screen_btn{
    margin-left: 91px; 
     height: 52px;
     width: 164px;
     background: #323232;
     border: none;
     font-family: Roboto;
     color: white;
     font-size: 17px;
     font-weight: 700;
     
    
}
.first_screen_head{
    margin-top: 108px;
    font-family: Roboto;
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;

}
.first_screen_text{
    margin-top: 28px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.first_screen_btn_red{
    margin-top: 65px;
    background: #FD003A;
    width: 231px;
    height: 52px;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
}


.first_screen_btn_red:hover{
    background: #8D0222;
}
.create{
    min-height: 874px;
    background: #e0e0e6;
    
}
.create_heading{
    padding-top: 84px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.create_text{
    margin: 31px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;  
    text-align: center;
}
 .create_btn{
    display: block;
    margin: 0 auto;
    background: #FD003A;
    border: none;
    width: 231px;
    height: 52px;
    color: white;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
} 
.create_btn:hover{
    background: #8D0222;
}

.create_img_man{
  display: block;
  margin: 0 auto;
  padding-top: 35px;
}

.promo{
   min-height: 1632px;
} 

.promo_item{
   display: flex;
}

.promo_all_text{
      margin-top: 176px;
      margin-left: 98px;
}  
  .promo_img{
    padding-left: 160px;
}

.promo_heading{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    /* text-align: left; */
}
.promo_text{
    margin-top: 31px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /* text-align: left; */

}
.premium{
    min-height: 900px;
    background: #e0e0e6;
}
.premium_heading{
    padding-top: 112px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.premium_text{
    margin-top: 31px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;  
    text-align: center;

}
.premium_btn{
    display: block;
    margin: 62px auto 37px auto;
    background: #FD003A;
    border: none;
    width: 245px;
    height: 52px;
    color: white;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700; 
}
.premium_btn:hover{
    background: #8D0222;
}
.premium_img_bg{
    padding:  0 250px;
}
.best{
    min-height: 1007px;
    display: flex;
    padding: 0 98px;
}


.best_heading{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    /* text-align: left; */
}

.best_item_head{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    
}

.best_item_text{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    

}
.tarif{
    display: flex;
    flex-flow: column;
    align-items: start;
    min-height: 1406px;
    background: #e0e0e6;
    padding: 0 98px;
}
.tarif_heading{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 38px;

}
.tarif_card{
    
    height: 614px;
    width: 470px;
    background: #fff;
    margin-top: 58px;
}
.tarif_head{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-top: 41px;
}
.tarif_price{
    font-family: Roboto;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    margin-top: 27px;
}
.tarif_price p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.tarif_item{
display: inline-block;
font-family: Roboto;
font-size: 20px;
font-weight: 300;
line-height: 23px;
padding: 0 17px;
}
.tarif_text{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    margin-top: 44px;
    padding-left: 33px;
}
.tarif_footer{
    width: 470px;
    height: 58px;
    background: #000;
    margin-top: 77px;
}
.tarif_footer p{
    font-family: Roboto;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 18px;
}
.free{
    min-height: 777px;
}
.free_block{
    display: inline-block;
    width: 500px;
    height: 166px;
    padding: 100px;
}
.free_heading{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
}
.free_text{
    margin-top: 22px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
}
.develop{
    min-height: 645px;
    width: 100%;
    background: url(../img/develop/Rectangle\ 5819.png) no-repeat;
    padding: 0 98px;
}
.develop_logo{
    display: block;
    padding-top: 29px;
}
.develop_heading{
margin-top: 154px;
font-family: Roboto;
font-size: 48px;
color: white;
font-weight: 700;
line-height: 56px;
text-align: left;
}
.develop_btn{
    margin-top: 68px;
}
.develop_btn_red{
    width: 231px;
    height: 52px;
    background:  #FD003A;
    font-family: Roboto;
    font-size: 17px;
    color: white;
    font-weight: 700;
    border: none;
}
.develop_btn_white{
    margin-left: 28px;
    width: 231px;
    height: 52px;
    background:  #fff;
    font-family: Roboto;
    font-size: 17px;
    color: black;
    font-weight: 700;
    border: none; 
}
.footer{
    min-height: 340px;
}
